<section class="min-h-screen h-auto w-full bg-grey-lighter">
  <div class="container mx-auto py-8">
	<div class="flex flex-col items-center">
	  <div class="w-1/2">
		<div class="flex items-center justify-between mb-8">
		  <h2 class="text-xl text-grey-dark">Edit photo for
			user <%= @photo.user.fullname %></h2>
		</div>
		<div class="p-8 rounded shadow-md bg-white">
		  <%= render partial: 'form' %>
		</div>
	  </div>
	</div>
  </div>
</section>
